*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../../partie2/imagesP2/fond.avif);
    background-size: cover;
}

@media screen and (orientation: portrait)  {
    body{
        background-image: url(../../partie2/imagesP2/img2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}
